/*El operador descendiente hereda todos los estilos a los elementos dentro la etiqueta div*/
div p {
    color: red
}

/*Combinador al objeto mas cercano */
h1 + p{
    color: aqua;
}

/*Combinador de hermano adyacente*/
h2 ~ p{
    color: rgb(50, 182, 57);
}

/*Combinador  solo hereda a quioen sea su hijo directo solo a los que realmente son sus hijos*/
div > p {
    color: rgb(255, 0, 179);
}