/* REM : funciona igual que el em, con la diferencia que es relativo al valor de la fuente 
del elemento html, y no tiene en cuenta el valor heredado o del elemento que lo contiene.

Por defecto el html viene con un tamaño de fuente de 16px asi que siempre
.
1 REM = 16PX */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%
}

p {
    font-size: 1.6rem
}

main div {
    font-size: 1.6rem
}